@model IEnumerable<Himac.Model.Models.HoiDap>

<div class="form-group">
    <table class="table tblData table-striped table-bordered table-hover nowrap" style="width:100%">
        <tbody>
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td style="vertical-align: middle">
                        @{
                            var tenVb = item.CauHoi;
                            if (tenVb.Length > 110)
                            {
                                <a class="post-title" href="#"><span class="fa fa-comment-o"></span> @item.CauHoi.Substring(0, 110)...</a>
                            }
                            else
                            {
                                <a class="post-title" href="#"><span class="fa fa-comment-o"></span> @item.CauHoi</a>
                            }
                            <br/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>