@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <b class="text-primary"><i class="fa fa-compass"></i> GIỚI THIỆU VỀ HIMAC</b>
        </div>
        <div class="box box-body">
            <div class="row">
                <div class="col-xs-12">
                    <div style="height: 200px">
                        <div>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/Content/1.jpg" style="width:100%; height: 200px" />
                                    </div>

                                    <div class="item">
                                        <img src="~/Content/2.jpg" style="width:100%; height: 200px">
                                    </div>

                                    <div class="item">
                                        <img src="~/Content/3.jpg" style="width:100%; height: 200px">
                                    </div>

                                    <div class="item">
                                        <img src="~/Content/4.jpg" style="width:100%; height: 200px">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <p>
                Giới thiệu chung20/10/2014 10:38
                Trung tâm Trọng tài Quốc tế Việt Nam bên cạnh Phòng Thương mại và Công nghiệp Việt Nam (VIAC) được thành lập theo Quyết định số 204/TTg ngày 28 tháng 4 năm 1993 của Thủ tướng Chính phủ nước Cộng hoà Xã hội Chủ nghĩa Việt Nam trên cơ sở hợp nhất Hội đồng Trọng tài Ngoại thương (thành lập năm 1963) và Hội đồng Trọng tài Hàng hải (thành lập năm 1964).

                Trải qua trên 50 năm hoạt động trong lĩnh vực giải quyết tranh chấp thương mại, Trung tâm Trọng tài Quốc tế Việt Nam bên cạnh Phòng Thương mại và Công nghiệp Việt Nam (VIAC) đã giải quyết hàng nghìn vụ tranh chấp liên quan đến tất cả lĩnh vực thương mại như mua bán hàng hóa, vận tải, bảo hiểm, xây dựng, tài chính, ngân hàng, đầu tư,…với các bên tranh chấp đến từ 60 quốc gia, vùng lãnh thổ trên thế giới. VIAC không ngừng lớn mạnh, phát triển, đem lại niềm tin và là chỗ dựa về công lý của cộng đồng doanh nghiệp trong và ngoài nước.

                Là tổ chức độc lập, với tôn chỉ thân thiện, minh bạch và hiệu quả, VIAC đã xây dựng được một quy trình giải quyết tranh chấp đáp ứng tối đa quyền tự do thỏa thuận của các bên. Ngoài ra, khi tham gia giải quyết tranh chấp tại VIAC, các bên luôn được đảm bảo quá trình tố tụng minh bạch và bảo mật. VIAC có đội ngũ Trọng tài viên là các chuyên gia có uy tín cao về chuyên môn trong các lĩnh vực thương mại. Các Trọng tài viên hoạt động một cách độc lập, vô tư, khách quan và tuân thủ pháp luật cũng như thông lệ quốc tế.

                Phán quyết trọng tài của VIAC không chỉ được thi hành thuận lợi tại Việt Nam mà còn được công nhận và thi hành tại trên 150 quốc gia, vùng lãnh thổ là thành viên Công ước New York năm 1958 về công nhận và cho thi hành phán quyết trọng tài nước ngoài.
            </p>
        </div>
    </div>
</div>